body{
    margin: 0 auto;
}
.box {
  background-color: rgb(0, 73, 57);
  margin: 0 auto;
  width: 65%;
  height: 700px;
}
.h1{
    width: 25%;
    height: 7.5%;
    background-color: rgb(77, 30, 30);
    color: white;
    text-align: center;
    margin: 20px auto;
}
.box1{
    width: 66%;
    height: 400px;
    background-color: black;
    border: 10px solid red;
    margin: 100px auto;
}
.box2{
    width: 95%;
    height: 42%;
    background-color: aqua;
    margin: 20px auto;
}
.box3{
    width: 95%;
    height: 42%;
    background-color: aqua;
    margin: 20px auto;
}